<div class="row" id="formacion">
    <div class="titulo">
        <h2 class="col-12">Formación</h2>
        <div class="text-center">
            <button type="button" class="btn btn-success" (click)="onOpenModal('add')">
        <a class="nav-link" style="color: aliceblue">
          Añadir Educación <span class="sr-only">(current)</span>
        </a>
      </button>
        </div>
    </div>
    <div class="row" *ngFor="let educacion of educaciones">
        <div class="col-12">
            <h5 class="tituloEdu">{{ educacion.tituloEdu }}</h5>
        </div>
        <div class="col-6">
            {{ educacion.tipoEdu }}
        </div>
        <div class="col-6">
            {{ educacion.fechaEdu }}
        </div>
        <div class="col-9" id="descripcionEdu">
            {{ educacion.descEdu }}
        </div>
        <div class="col-6">
            <img id="fotoEdu" class="align-rigth sm2 col-2" src="{{ educacion.imgEdu }}" alt="" />
        </div>
        <div class="col text-center">
            <a (click)="onOpenModal('edit',educacion)" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Edit">
                <i class="fa fa-pencil"> </i>
            </a>
            <a class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete">
                <i class="fa fa-times"></i>
            </a>
        </div>
    </div>
</div>