<div class="card " id="second card ">
    <div class="titulo">
        <h2 class=" ms-3 pt 3">Experiencia</h2>
    </div>
    <div class="card ">
        <div class="card-header ">
            Docencia
        </div>
        <div class="card-body">
            <div class=" cargo col-2">
                <h4 class="card-title ">Profesor de Música</h4>
                <h5>2013-2020</h5>
            </div>
            <p class="card-text col-8 ">Dicté clases particulares de batería, guitarra y teoría musical en mi home-studio. Me encargué de ordenar los contenidos, hacer la trasposición didáctica, dictar las clases y hacer la promoción de las mismas</p>

            <a href="# " class="btn-edit col-2 "><i class="fa fa-pencil "></i></a>
        </div>
    </div>
</div>