#titulo {
    background-color: rgb(42, 42, 102);
    color: white;
    align-self: center;
    text-align: center;
}

.cargo h4 h5 {
    margin-left: 20px;
}

.tituloExp {
    margin-left: 20px;
}

#carta {
    padding: 10px;
}