<div class="row" id="Skills">
    <div id="titulo">
        <h2>Habilidades técnicas y comunicativas</h2>
    </div>
    <!-- ----------------------PORCENTAJE DE HTML ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="100" [title]="'HTML'" [showTitle]="true" [imageHeight]="65" [imageWidth]="65" [imageSrc]="'../../../assets/html.png'" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'"
            [innerStrokeColor]="'#0066FF'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <!-- ----------------------PORCENTAJE DE CSS ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [showUnits]="true" [title]="'Css'" [imageHeight]="65" [imageWidth]="65" [imageSrc]="'../../../assets/css3.png '" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'" [innerStrokeColor]="'#0066FF'"
            [titleColor]="'black'" [animation]="true" [animationDuration]="300">
            <h4>HTML</h4>
        </circle-progress>
    </div>
    <!-- ----------------------PORCENTAJE DE JAVA ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="65" [radius]="100" [title]="'Java'" [imageHeight]="65" [imageWidth]="65" [imageSrc]="'../../../assets/java.png'" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'" [innerStrokeColor]="'#0066FF'"
            [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <!-- ----------------------PORCENTAJE DE javascript ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="60" [radius]="100" [title]="'Js'" [imageHeight]="65" [imageWidth]="85" [imageSrc]="'../../../assets/js.png'" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'" [innerStrokeColor]="'#0066FF'"
            [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <!-- ----------------------PORCENTAJE DE Comunicación ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="90" [radius]="100" [title]="'comunicacion'" [imageHeight]="65" [imageWidth]="65" [imageSrc]="'../../../assets/comunicacion2.png'" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'"
            [innerStrokeColor]="'#0066FF'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
    <!-- ----------------------PORCENTAJE DE Trabajo en Equipo ------------------------------------------>
    <div class="col-sm-4 col-md-4 col-lg-4">
        <circle-progress [percent]="85" [radius]="100" [title]="'trabajoEnEquipo'" [imageHeight]="65" [imageWidth]="85" [imageSrc]="'../../../assets/comunicacion.png'" [showImage]="true" [outerStrokeWidth]="12" [innerStrokeWidth]="8" [outerStrokeColor]="'#40CFFF'"
            [innerStrokeColor]="'#0066FF'" [animation]="true" [animationDuration]="300"></circle-progress>
    </div>
</div>