#titulo {
    background-color: rgb(42, 42, 102);
    color: white;
    align-content: center;
    text-align: center;
}

#main-container {
    display: flex;
    flex-direction: row;
    max-width: 33%;
    flex-wrap: wrap;
}

div {
    align-items: center;
    padding: 5px 10px 10px;
    color: black;
    margin-left: -7px;
}

.circulos {
    display: flex;
    flex-direction: row;
    flex-wrap: 15;
}