<div class="row ">

    <img src="../../assets/perfil.png" class="img-fluid" id="fotoperfil">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 ">
        <h1 id="nombre">Agustín Castilla</h1>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class=" col-xs-12 col-sm-8 col-md-8 col-lg-8 ">
        <span id="sobre-mi">
         <h1>Sobre mí</h1>
         <p> Me formé en el campo de la música. He participado en diversos proyectos artísticos musicales y audiovisuales, trabajando en la parte creativa, la performática y la técnica . Aprendí la importancia de una comunicación eficaz y asertiva
            dentro de un equipo de trabajo, y el correcto planeamiento del trabajo para aumentar la productividad.</p>
        <p>Actualmente me dedico al desarrollo web con una formación completa en el perfil de desarrollador web Full Stack Junior. Busco seguir aprendiendo y sumar experiencia en este campo.</p>
            </span>
    </div>
</div>
<!--   El acerca de, tengo que acomodar los elementos de otra forma-->