<div class="container-fluid">
    <div class="row" id="arriba">
        <div class="col sm-6 md-3 lg-3" id="logo">
            <img src="../../../assets/APLogo.png" id="logoap" alt="Logo Argentina Programa" />
        </div>
        <div class="col sm-6 md-9 lg-9" id="social">
            <a href="https://www.instagram.com/agus.loop/" target="_blank">
                <img src="../../../assets/instagram.png" alt="Logo instagram" id="instagram" /></a>
            <a href="https://www.linkedin.com/in/agustincastilla/" target="_blank">
                <img src="../../../assets/linkedin.png" alt="logo linkedin" id="linkedin" /></a>
            <a href="https://github.com/CastillaAgus" target="_blank">
                <img src="../../../assets/github.png" alt="logo github" id="github" /></a>
            <a href="https://www.facebook.com/agustin.castilla.1/" target="_blank">
                <img src="../../../assets/facebook.png" alt="logo facebook" id="facebook" /></a>
            <div>
                <button class="btn btn-primary" type="button" (click)="login()" *ngIf="!isLogged">
          Iniciar Sesión
        </button>
                <button class="btn btn-primary" type="button" (click)="onLogOut()" *ngIf="isLogged">
          Cerrar Sesión
        </button>
            </div>
        </div>
    </div>
</div>